.idea
.DS*
.git
.vscode
.godot
*.cfg
*.tmp
desktop/release
!desktop/release/appicon.png
desktop/template/yarn.lock
desktop/template/yarn-error.log
desktop/template/node_modules
desktop/template/dist
game/release
!game/release/.gitkeep
!game/export_presets.cfg