@charset "UTF-8";

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
    -webkit-touch-callout: none;
    outline: none;
    user-select: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: Inter, sans-serif;
    font-feature-settings: "tnum";
    font-variant: tabular-nums;
    -webkit-font-smoothing: antialiased;
    font-size: 12px;
    color: #666666;
}

ul li, ol li {
    list-style: none;
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}
::-webkit-scrollbar-thumb {
    border-radius: 0;
    box-shadow: inset 0 0 3px rgba(68, 68, 71, 1);
    background: rgba(68, 68, 71, .5);
}
::-webkit-scrollbar-track{
    box-shadow: none;
    border-radius: 0;
    background: rgba(68, 68, 71, 0);
}

*:focus {
    outline: none !important;
}

.page-main{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}